<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">produc tname</label>
                    <input name="productname" [(ngModel)]="productname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readsearch()" class="btn btn-success">Search</button>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>productname</th>
                            <th>image</th>
                            <th>category</th>
                            <th>description</th>
                            <th>price</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of searchData">
                            <td >{{i.productname}}</td>
                            <td >{{i.image}}</td>
                            <td >{{i.category}}</td>
                            <td >{{i.description}}</td>
                            <td >{{i.price}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>